In [61]:
import pandas as pd

In [96]:
#Challenge 1
df = pd.read_csv('earthquakes.csv')
df.sort_values(by=['impact.magnitude'])

,id,impact.gap,impact.magnitude,impact.significance,location.depth,location.distance,location.full,location.latitude,location.longitude,location.name,time.day,time.epoch,time.full,time.hour,time.minute,time.month,time.second,time.year
725,nc72668186,114.0,0.01,0,0.11,0.012550,"8km WNW of Cobb, California",38.839833,-122.819500,California,29,1469808935440,2016-07-29 12:15:35,12,15,7,35,2016
2218,nc72669830,86.0,0.01,0,0.95,0.013020,"2km E of Mammoth Lakes, California",37.653000,-118.940167,California,3,1470218300170,2016-08-03 05:58:20,5,58,8,20,2016
7494,nc72682876,125.0,0.01,0,0.08,0.009745,"7km ESE of Mammoth Lakes, California",37.627000,-118.890667,California,22,1471839342690,2016-08-22 00:15:42,0,15,8,42,2016
4466,nc72672995,84.0,0.02,0,4.06,0.018820,"2km SE of Mammoth Lakes, California",37.633167,-118.947333,California,10,1470825077400,2016-08-10 06:31:17,6,31,8,17,2016
7027,nc72681026,109.0,0.02,0,1.16,0.005171,"10km ESE of Mammoth Lakes, California",37.624167,-118.862667,California,20,1471681723060,2016-08-20 04:28:43,4,28,8,43,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,us10006fik,52.0,6.40,630,10.00,2.916000,South Georgia Island region,-55.277500,-31.754600,South Georgia Island region,20,1471751123740,2016-08-20 23:45:23,23,45,8,23,2016
8002,us10006gbf,24.0,6.80,972,84.07,1.797000,"25km W of Chauk, Burma",20.919200,94.578900,Burma,24,1472034895000,2016-08-24 06:34:55,6,34,8,55,2016
4998,us10006d5h,21.0,7.20,799,9.95,4.822000,"109km E of Ile Hunter, New Caledonia",-22.495300,173.111400,New Caledonia,11,1470965195140,2016-08-11 21:26:35,21,26,8,35,2016
6787,us10006exl,22.0,7.40,843,10.00,2.852000,South Georgia Island region,-55.279300,-31.874000,South Georgia Island region,19,1471591942730,2016-08-19 03:32:22,3,32,8,22,2016
799,us100068jg,11.0,7.70,971,207.62,3.293000,"28km SSW of Agrihan, Northern Mariana Islands",18.543900,145.541000,Northern Mariana Islands,29,1469827106510,2016-07-29 17:18:26,17,18,7,26,2016

In [97]:
## not sure why this is losing the previous sorting
df.head(5)

,id,impact.gap,impact.magnitude,impact.significance,location.depth,location.distance,location.full,location.latitude,location.longitude,location.name,time.day,time.epoch,time.full,time.hour,time.minute,time.month,time.second,time.year
0,nc72666881,122.00,1.43,31,15.12,0.10340,"13km E of Livermore, California",37.672333,-121.619000,California,27,1469593183550,2016-07-27 00:19:43,0,19,7,43,2016
1,us20006i0y,30.00,4.90,371,97.07,1.43900,"58km WNW of Pakokku, Burma",21.514600,94.572100,Burma,27,1469593228220,2016-07-27 00:20:28,0,20,7,28,2016
2,nc72666891,249.00,0.06,0,4.39,0.02743,"12km SE of Mammoth Lakes, California",37.576500,-118.859167,California,27,1469593897150,2016-07-27 00:31:37,0,31,7,37,2016
3,nc72666896,122.00,0.40,2,1.09,0.02699,"6km SSW of Mammoth Lakes, California",37.595833,-118.994833,California,27,1469594144150,2016-07-27 00:35:44,0,35,7,44,2016
4,nn00553447,113.61,0.30,1,7.60,0.06300,"16km SSE of Mogul, Nevada",39.377500,-119.845000,Nevada,27,1469594519667,2016-07-27 00:41:59,0,41,7,59,2016

In [121]:
#Challenge 2 Need help to sort them by activity and list the top 10
df.groupby('location.name').sum()
grouped.size()

location.name
Afghanistan                         10
Alaska                            2195
Anguilla                             1
Argentina                           11
Arizona                              3
                                  ...
Washington                         171
West Virginia                        1
Western Indian-Antarctic Ridge       1
Western Xizang                       2
Wyoming                             37
Length: 118, dtype: int64

In [114]:
type('Afghanistan')

str

In [115]:
type(10)

int

In [ ]:
#Challenge 3 Need help to create the .csv with just the data from Challenge 2
df.to_csv('active_earthquake_locations.csv')